<div class="container">
 <div class="homepage-container">

   <div class="gallery">
     <div  class="column">
       <div class="goal-input">
         <div class="goal-input-elements">
         <h3>Set Your Practice Goals</h3>

         <label>How many times per week?</label>
         <input type="number" [(ngModel)]="practiceGoals.timesPerWeek" (change)="adjustSelectedDays()" min="1" max="7">

         <label>How many minutes per session?</label>
         <input type="number" [(ngModel)]="practiceGoals.duration" min="10" max="180">

         <label>Select the days you want to practice (optional, max {{ practiceGoals.timesPerWeek }} days):</label>
         <div *ngFor="let day of weekDays">
           <label>
             <input
               type="checkbox"
               [value]="day"
               (change)="toggleDaySelection(day)"
               [checked]="practiceGoals.selectedDays.includes(day)"
               [disabled]="practiceGoals.selectedDays.length >= practiceGoals.timesPerWeek && !practiceGoals.selectedDays.includes(day)">
             {{ day }}
           </label>
         </div>

         <button (click)="savePracticeGoals()">Save Goals</button>
         </div>
       </div>
     </div>

     <div  class="column">
       <div class="streak-container" *ngIf="user">
         <div class="streak-container-elements">
         <!--     <h2>Welcome back, {{ username }}</h2>-->

          <h2>🔥 Streak: {{ streakCount }} Day{{ streakCount > 1 ? 's' : '' }}</h2>
           <p>{{ weeklyPracticeMessage }}</p>
           <p>{{ dailyMessage }}</p>
         </div>
       </div>

       <div class="calendar-container">
         <app-streak-calendar></app-streak-calendar>
       </div>
     </div>

   </div>

 </div>
</div>

