<body>
 <div class="homepage-container">

   <div class="gallery">
     <div  class="column">
       <div class="goal-input">
         <div class="goal-input-elements">
         <h3>Set Your Practice Goals</h3>

         <!-- Number of times per week -->
         <label>How many times per week?</label>
         <input type="number" [(ngModel)]="practiceGoals.timesPerWeek" (change)="adjustSelectedDays()" min="1" max="7">

         <!-- Practice duration selection -->
         <label>How many minutes per session?</label>
         <input type="number" [(ngModel)]="practiceGoals.duration" min="10" max="180">

         <!-- Optional: Select specific days (Limit based on 'timesPerWeek') -->
         <label>Select the days you want to practice (optional, max {{ practiceGoals.timesPerWeek }} days):</label>
         <div *ngFor="let day of weekDays">
           <label>
             <input
               type="checkbox"
               [value]="day"
               (change)="toggleDaySelection(day)"
               [checked]="practiceGoals.selectedDays.includes(day)"
               [disabled]="practiceGoals.selectedDays.length >= practiceGoals.timesPerWeek && !practiceGoals.selectedDays.includes(day)">
             {{ day }}
           </label>
         </div>

         <!-- Save Button -->
         <button (click)="savePracticeGoals()">Save Goals</button>
         </div>
       </div>

       <div class="recent-files-container">
         <div class="files-elements">
         <h2>📄 Recent Files</h2>
         <div *ngIf="recentFiles.length > 0">
           <div class="recent-file" *ngFor="let file of recentFiles" (click)="openFile(file)">
             <mat-icon class="file-icon">insert_drive_file</mat-icon>
             <p>{{ file.fileName }}</p>
           </div>
         </div>
         <p *ngIf="recentFiles.length === 0">No recent files.</p>
       </div>
       </div>
     </div>

     <div  class="column">
       <div class="streak-container" *ngIf="user">
         <div class="streak-container-elements">
         <!--     <h2>Welcome back, {{ username }}</h2>-->

          <h2>🔥 Streak: {{ streakCount }} Day{{ streakCount > 1 ? 's' : '' }}</h2>
          <p>{{ dailyMessage }}</p> <!-- Display the daily message -->
         </div>
       </div>

       <div class="calendar-container">
         <app-streak-calendar></app-streak-calendar>
       </div>
     </div>

   </div>

 </div>
</body>
