<!--<body>-->
<!--  <mat-toolbar class="toolbar">-->
<!--    <button mat-icon-button (click)="toggleSidebar()">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
<!--    <span>My App</span>-->
<!--    <div class="search-container">-->
<!--      <mat-form-field class="search-field" >-->
<!--        <mat-label>Search</mat-label>-->
<!--        <input matInput placeholder="Type to search..." />-->
<!--        <button mat-icon-button matSuffix>-->
<!--          <mat-icon>search</mat-icon>-->
<!--        </button>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    <span class="spacer"></span>-->

<!--    &lt;!&ndash; Profile Icon &ndash;&gt;-->
<!--    <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Account">-->
<!--      <mat-icon>account_circle</mat-icon>-->
<!--    </button>-->

<!--    &lt;!&ndash; Profile Dropdown Menu &ndash;&gt;-->
<!--    <mat-menu #profileMenu="matMenu" class="profile-menu">-->
<!--      <div class="profile-menu-content">-->
<!--        <img [src]="profilePictureUrl" alt="Profile Picture" class="profile-picture" />-->
<!--        <span class="username">{{ username }}</span>-->
<!--        <button mat-menu-item (click)="navigateToProfile()">Manage Profile</button>-->
<!--        <button mat-menu-item color="warn" (click)="logout()">Logout</button>-->
<!--      </div>-->
<!--    </mat-menu>-->
<!--  </mat-toolbar>-->
<!--</body>-->
<body>
<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>

<!--  <form class="search-form">-->
<!--    <mat-form-field class="search-field">-->
<!--      <mat-label>Search</mat-label>-->
<!--      <input type="search" matInput placeholder="Type to search...">-->
<!--      <mat-icon matSuffix>search</mat-icon>-->
<!--    </mat-form-field>-->
<!--  </form>-->


  <form class="search-form">
    <input
      type="search"
      class="search-input"
      placeholder="Type to search..."
    />
    <button type="submit" class="search-button">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Account">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #profileMenu="matMenu" class="profile-menu">
    <div class="profile-menu-content">
      <img [src]="profilePictureUrl" alt="Profile Picture" class="profile-picture" />
      <span class="username">{{ email }}</span>
      <button mat-menu-item (click)="navigateToProfile()">Manage Profile</button>
      <button mat-menu-item color="warn" (click)="logout()">Logout</button>
    </div>
  </mat-menu>
</mat-toolbar>
</body>
