<body>
<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>



  <form class="search-form" (ngSubmit)="onSearch()">
    <input
      type="search"
      class="search-input"
      placeholder="Type to search..."
      [(ngModel)]="searchTerm"
      name="search"
    />
    <button type="submit" class="search-button">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Account">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #profileMenu="matMenu" class="profile-menu">
    <div class="profile-menu-content">
      <img [src]="profilePictureUrl" alt="Profile Picture" class="profile-picture" />
      <span class="username">{{ email }}</span>
      <button mat-menu-item (click)="navigateToProfile()" class="manage-profile-btn">Manage Profile</button>
      <button mat-menu-item (click)="logout()" class="logout-btn">Logout</button>
    </div>
  </mat-menu>
</mat-toolbar>
</body>
