.toolbar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 97%;
  z-index: 1000;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  height: 64px;
  background: #f2e6fa;
  border-radius: 12px;

  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

.spacer {
  flex: 1;
}
/* Search Form */
.search-form {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 7px;
  overflow: hidden;
  background-color: white;
  margin-right: auto;
  margin-left: 16px;
}

.search-input {
  border: none;
  padding: 4px 8px;
  outline: none;
  flex: 1;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
.search-button mat-icon {
  color: #3f51b5;
  font-size: 20px;
}

.search-button:hover mat-icon {
  color: #283593;
}

::ng-deep .mat-mdc-menu-panel {
  background: #f2e6fa !important;
  border-radius: 12px !important;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2) !important;
  padding: 8px !important;
  transform: translateY(23px) translateX(13px);

}


.profile-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 200px;
}


.profile-picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 12px;
}

/* Username Styling */
.username {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  color: #3b3494;
}


 /*Profile Menu Buttons */
.manage-profile-btn {
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  background-color: #dcb1fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-btn {
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  background-color: #ee331e;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-profile-btn:hover{
  background: #c47cfd !important;
  border-radius: 12px;
}
.logout-btn:hover{
  background: #ca2412 !important;
  border-radius: 12px;
}
