.add-button-container {
  /*display: flex;*/
  /*justify-content: flex-end;*/
  /*margin-bottom: 16px;*/
  position: fixed;  /* Change from absolute to fixed to stick it at the bottom of the page */
  bottom: 50px;     /* Distance from the bottom of the page */
  right: 50px;      /* Distance from the right edge of the page */
  z-index: 1000;    /* Ensures the button is always on top of other content */
}

/*.add-button-container button {*/
/*  margin-right: 8px;*/
/*}*/
