<div id="toolbarViewer" class="custom-toolbar">
  <!-- Left Section -->
  <div id="toolbarViewerLeft">
    <!-- Back Arrow Button -->
    <button class="back-button" mat-icon-button (click)="goBackToLibrary()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <pdf-toggle-sidebar></pdf-toggle-sidebar>
    <div class="toolbarButtonSpacer"></div>
    <pdf-paging-area></pdf-paging-area>
  </div>

  <!-- Center Section -->
  <pdf-zoom-toolbar></pdf-zoom-toolbar>

  <!-- Right Section -->
  <div id="toolbarViewerRight">
    <pdf-shy-button
      [cssClass]=" 'always-visible' | responsiveCSSClass "
      title="Save"
      l10nId="save_button"
      [action]="onClick"
      [order]="3400"
      [closeOnClick]="false"
      aria-label="Save"
    >
      <mat-icon aria-label="Save">save</mat-icon>
    </pdf-shy-button>

    <button mat-icon-button (click)="toggleAutoScroll()">
      <mat-icon>{{ isAutoScrolling ? 'pause' : 'play_arrow' }}</mat-icon>
    </button>
    <label>Speed:</label>
    <input type="range" min="1" max="10" [(ngModel)]="scrollSpeed" (input)="updateScrollSpeed(scrollSpeed)">

    <!--    <pdf-download></pdf-download>-->
    <pdf-print></pdf-print>
    <pdf-highlight-editor></pdf-highlight-editor>
    <pdf-text-editor></pdf-text-editor>
    <pdf-draw-editor></pdf-draw-editor>
    <pdf-vertical-scroll-mode></pdf-vertical-scroll-mode>
    <pdf-horizontal-scroll></pdf-horizontal-scroll>
    <pdf-no-spread></pdf-no-spread>
    <pdf-even-spread></pdf-even-spread>
    <pdf-odd-spread></pdf-odd-spread>
    <div class="verticalToolbarSeparator hiddenSmallView"></div>
    <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
  </div>
</div>
