.custom-toolbar {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #f5f5f5;
  height: 48px;
}


.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

mat-icon {
  font-size: 24px;
  color: #000;
}

#toolbarViewerLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

#toolbarViewerLeft .toolbarButtonSpacer {
  display: none;
}

#toolbarViewerLeft button,
#toolbarViewerLeft input {
  height: 36px;
  line-height: normal;
  display: flex;
  align-items: center;
}

#toolbarViewerLeft input {
  padding: 0 4px;
  font-size: 14px;
  text-align: center;
}

#toolbarViewerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#toolbarViewerRight button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 2px;
}

#toolbarViewerRight mat-icon {
  font-size: 24px;
  color: #000;
}

#toolbarViewerRight .toolbarButtonSpacer {
  display: none;
}

#toolbarViewerRight button,
#toolbarViewerRight input {
  height: 36px;
  line-height: normal;
  display: flex;
  align-items: center;
}

#toolbarViewerRight input {
  padding: 0 4px;
  font-size: 14px;
  text-align: center;
}


pdf-shy-button {
  margin-left: 8px;
  display: flex;
  align-items: center;
}


mat-icon {
  font-size: 24px;
  color: #000;
}

.ngx-extended-pdf-viewer {
  scroll-behavior: smooth;
}

mat-progress-bar {
  width: 100%;
  height: 6px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

mat-progress-bar .mat-progress-bar-fill {
  background-color: #8a5cf8;
}

.conversion-spinner {
  margin-left: 8px;
  vertical-align: middle;
}
