<div id="toolbarViewer" class="custom-toolbar">
  <!-- Left Section -->
  <div id="toolbarViewerLeft">
    <!-- Back Arrow Button -->
    <button class="back-button" mat-icon-button (click)="goBackToLibrary()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <pdf-toggle-sidebar></pdf-toggle-sidebar>
    <div class="toolbarButtonSpacer"></div>
    <pdf-paging-area></pdf-paging-area>
  </div>

  <!-- Center Section -->
  <pdf-zoom-toolbar></pdf-zoom-toolbar>

  <!-- Right Section -->
  <div id="toolbarViewerRight">
<!--    <pdf-shy-button-->
<!--      [cssClass]=" 'always-visible' | responsiveCSSClass "-->
<!--      title="Save"-->
<!--      l10nId="save_button"-->
<!--      [action]="onClick"-->
<!--      [order]="3400"-->
<!--      [closeOnClick]="false"-->
<!--      aria-label="Save"-->
<!--    >-->
<!--      <mat-icon aria-label="Save">save</mat-icon>-->
<!--    </pdf-shy-button>-->
    <button mat-icon-button (click)="handleSaveToFirebase()" title="Save">
      <mat-icon aria-label="Save">save</mat-icon>
    </button>


    <button mat-icon-button (click)="toggleAutoScroll()">
      <mat-icon>{{ isAutoScrolling ? 'pause' : 'play_arrow' }}</mat-icon>
    </button>
    <label>Speed:</label>
<!--    <input type="range" min="1" max="10" [(ngModel)]="scrollSpeed" (input)="updateScrollSpeed(scrollSpeed)">-->

    <input type="number" min="20" max="300" [(ngModel)]="bpm" (input)="startAutoScroll()">

    <button mat-icon-button (click)="convertToMusicXML()" [disabled]="isConverting">
      <ng-container *ngIf="!isConverting">
        <mat-icon>music_note</mat-icon>
      </ng-container>
      <ng-container *ngIf="isConverting">
        <mat-spinner diameter="20" strokeWidth="3"></mat-spinner>
      </ng-container>
    </button>


    <!--    <app-music-xml-player *ngIf="musicXmlUrl" [musicXmlUrl]="musicXmlUrl"></app-music-xml-player>-->

    <!-- Show download link when conversion is complete -->
    <a *ngIf="musicXmlUrl" [href]="musicXmlUrl" [download]="fileMetadata?.fileName?.replace('.pdf', '.mxl') || 'converted.mxl'">
      <button mat-button>Download MusicXML</button>
    </a>

    <!-- Loading bar while the conversion is in progress -->
    <mat-progress-bar *ngIf="isConverting" mode="indeterminate"></mat-progress-bar>

    <!--    <pdf-download></pdf-download>-->
    <pdf-print></pdf-print>
    <pdf-highlight-editor></pdf-highlight-editor>
    <pdf-text-editor></pdf-text-editor>
    <pdf-draw-editor></pdf-draw-editor>
    <pdf-vertical-scroll-mode></pdf-vertical-scroll-mode>
    <pdf-horizontal-scroll></pdf-horizontal-scroll>
    <pdf-no-spread></pdf-no-spread>
    <pdf-even-spread></pdf-even-spread>
    <pdf-odd-spread></pdf-odd-spread>
    <div class="verticalToolbarSeparator hiddenSmallView"></div>
    <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
  </div>
</div>
