<div id="toolbarViewer" class="custom-toolbar">
  <!-- Left Section -->
  <div id="toolbarViewerLeft">
    <!-- Back Arrow Button -->
    <button class="back-button" mat-icon-button (click)="goBackToLibrary()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <pdf-toggle-sidebar></pdf-toggle-sidebar>
    <div class="toolbarButtonSpacer"></div>
    <pdf-paging-area></pdf-paging-area>
  </div>

  <!-- Center Section -->
  <pdf-zoom-toolbar></pdf-zoom-toolbar>

  <!-- Right Section -->
  <div id="toolbarViewerRight">
    <pdf-shy-button
      title="Save"
      primaryToolbarId="save"
      l10nId="save_button"
      [action]="onClick"
      [order]="3400"
      [closeOnClick]="false"
      image="<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'>
           <path d='M...'/>
         </svg>"
    >
    </pdf-shy-button>

<!--    <pdf-download></pdf-download>-->
    <pdf-print></pdf-print>
    <pdf-highlight-editor></pdf-highlight-editor>
    <pdf-text-editor></pdf-text-editor>
    <pdf-draw-editor></pdf-draw-editor>
    <pdf-vertical-scroll-mode></pdf-vertical-scroll-mode>
    <pdf-horizontal-scroll></pdf-horizontal-scroll>
    <pdf-no-spread></pdf-no-spread>
    <pdf-even-spread></pdf-even-spread>
    <pdf-odd-spread></pdf-odd-spread>
    <div class="verticalToolbarSeparator hiddenSmallView"></div>
    <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
  </div>
</div>
