.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px; /* Width of the sidebar */
}

mat-sidenav-content.content-veiled {
  background-color: rgba(0, 0, 0, 0.4); /* Dark transparent overlay */
  pointer-events: none; /* Disable interactions with the main content */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* Padding for main content */
mat-sidenav-content {
  padding: 16px;
}
