.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 200px;
  top: 78px;
  background: #f2e6fa;
  border-radius: 12px;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  height: calc(100vh - 20px);
  overflow: hidden;
  position: absolute;
  left:1.5%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

mat-sidenav[mode="over"] {
  transform: translateX(-100%);
}


mat-sidenav[mode="over"].mat-drawer-open {
  transform: translateX(0);
}

mat-sidenav-content.content-veiled {
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  transition: background-color 0.3s ease;
}


mat-sidenav-content {
  z-index: 1;
  position: relative;
}
