/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*html, body {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/


/*body {
  background: linear-gradient(to bottom, rgba(148, 82, 192, 0.01), rgba(148, 82, 192, 0.5));
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}*/
