/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  transition: all 0.5s;*/
/*  font-family: Arial, sans-serif;*/
/*}*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* Body Styles */
body {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("C:/Users/crace/Documents/Diana/FACULTATE/Licenta/finalbachelor/public/login-image.jpg");
  background-size: cover;
  background-position: center center; /* Center the background image */
  overflow: hidden; /* Prevent scrolling */
}

/* Login Container */
.register-container {
  width: 100%;          /* Allow the container to be 100% width */
  max-width: 400px;     /* Maximum width for the container */
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is inside the container */
  display: flex;         /* Ensure the form inside is centered */
  justify-content: center; /* Horizontally center */
  align-items: center;    /* Vertically center */
  height: 100%;
}

/* Login Form Styles */
.register-form {
  background: rgba(255, 255, 255, 0.25);  /* Semi-transparent background */
  border-radius: 15px;
  backdrop-filter: blur(5px);   /* Frosted glass effect */
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;       /* Stack elements vertically */
  justify-content: center;      /* Vertically center form content */
  align-items: center;          /* Horizontally center form content */
  width: 100%;                  /* Ensure it stretches inside the container */
}

.register-form h2 {
  color: #f4eeee;
  margin-bottom: 20px;
}

.form-group label {
  text-align: left; /* Align the label text to the left */
  width: 100%; /* Ensure the label takes up full width */
  margin-bottom: 5px; /* Space between the label and the input */
  color: #f1eaea; /* Optional: to match the label color */
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure each input is centered */
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(245, 240, 240, 0.15);
  backdrop-filter: blur(11px);
  color: #f7efef;
}

.form-group input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.3);
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #8686e3, #3b3494);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background: linear-gradient(45deg, #5d5e5d, #a4a4a7);
}

.login-link {
  color: #8686e3;  /* Set your preferred color */
  text-decoration: none;  /* Remove underline */
  font-weight: bold;  /* Make the text bold */
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;  /* Underline on hover */
  color: #3b3494;  /* Change color on hover */
}
