<div class="calendar-container">
  <div class="calendar-header">
    <button mat-icon-button (click)="changeMonth(-1)">
      <mat-icon>arrow_back</mat-icon>  <!-- Left arrow icon -->
    </button>

    <h2>{{ currentMonth }} {{ currentYear }}</h2>

    <button mat-icon-button (click)="changeMonth(1)">
      <mat-icon>arrow_forward</mat-icon>  <!-- Right arrow icon -->
    </button>
  </div>

  <!-- Days of the Week Row -->
  <div class="weekdays">
    <div *ngFor="let day of daysOfWeek" class="weekday">{{ day }}</div>
  </div>

  <!-- Calendar Days -->
  <div class="cal-days">
    <div *ngFor="let day of daysInMonth" class="cal-day" [ngClass]="{
        'today': day?.isToday
         }">
      <span *ngIf="day.day"> {{ day.day }} </span>
    </div>
  </div>

</div>
