.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  max-width: 450px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 15px; /* Adds some padding to avoid content touching the edges */
}

/* Arrows on the left and right of the month name */
.calendar-header button {
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.calendar-header button mat-icon {
  font-size: 24px;
  color: #007bff;
}

/* Arrows on the left and right */
.calendar-header .left-arrow {
  left: 0; /* Positioned at the left of the header */
}

.calendar-header .right-arrow {
  right: 0; /* Positioned at the right of the header */
}

/* Hover effect on arrows */
button:hover mat-icon {
  color: #0056b3;
}

/* Center the month name in the middle */
.calendar-header h2 {
  margin: 0; /* Space for arrows on both sides */
  text-align: center;
  font-size: 1.4rem;
}

.weekdays {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, minmax(40px, 1fr));
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px; /* Add padding below the days-of-week */
  width: 100%;
  max-width: 450px;
}

.weekday {
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}

.cal-days {
  display: grid;
  grid-template-columns: repeat(7, minmax(40px, 1fr));
  grid-gap: 10px;
  width: 100%;
  padding: 5px;
}

.cal-day {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: lightgray;
  border-radius: 5px;
}



.cal-day span {
  color: #333;
}

.cal-day.null {
  background-color: transparent; /* For empty spaces (null) */
}

button:hover mat-icon {
  color: #0056b3;
}


.today {
  background-color: #f39c12; /* You can change this to whatever color you prefer for today's date */
  color: white;
  border-radius: 50%;
}

.used-day {
  background-color: #f39c12; /* Green highlight for used days */
  color: white;
  border-radius: 50%;
}


